body {
    font-family: Helvetica;
    text-align: center;
}

.header {
    background-image: url(../images/the-flatiron-building.png);
    background-position: center center;
}

.title {
    font-weight: bold;
    color: white;
    font-size: 70px;
}

.vertical-menu a {
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: block;
    padding: 6px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 14px;
}

.white {
    color: white;
}

.copyright {
    background-color: dimgray;
    color: white;
    font-size: 11px;
    text-align: left;
}

.copyright a {
    color: white;
}

